@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font */
* {
  font-family: "Poppins", sans-serif;
}
/* scrollbar */
/* Menyesuaikan warna latar belakang dan lebar scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-left: 10px;
}

/* Warna track scrollbar */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Warna thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: #2F55D4;
}

/* Menghilangkan tombol panah scrollbar */
::-webkit-scrollbar-button {
  display: none;
}
/* scrollbar */

/* multiple select */
.react-select__control {
  @apply border border-[#E4E4E7] text-sm py-1 rounded-full !important;
}

.react-select__option--is-selected {
  @apply bg-blue-200 text-black !important;
}

.react-select__option--is-focused {
  @apply bg-blue-100 !important;
}

.react-select__multi-value {
  @apply bg-blue-100 text-primary rounded-md !important;
}

.react-select__multi-value__remove:hover {
  @apply bg-blue-200 text-primary-hover !important;
}
/* multiple select */

